body {
	padding-top: 70px;

	background-color: #8a3ab9;
	color: #fff;
}

.navbar-brand {
	color: #fff !important;
}

.container-fluid {
	color: #8a3ab9;
}

[ng-click],
[data-ng-click],
[x-ng-click],
[logout] {
	cursor: pointer;
}

.navbar-header {
	width: 100%;
}

.navbar-header > .pull-right {
	margin-right: 10px;
}

