<!DOCTYPE html>
<html ng-app="top.nemanja.instagram-chat">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Instagram chat</title>
	</head>
	<body>
		<div class="container">
			<form class="form-signin">
				<h2 class="form-signin-heading"><i class="fa fa-instagram" aria-hidden="true"></i> Please sign in</h2>
				<label for="inputEmail" class="sr-only">Username</label>
				<input type="email" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="remember-me"> Remember me
					</label>
				</div>
				<button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
			</form>
		</div> <!-- /container -->
	</body>
</html>
